#In docker version 2 and up we need to specify the version and also the services but we dont need to specify the links because it will create its own bridge network and form the links.

version: 2
#Compose file for voting app in ym

#This is simple Docker voting application:
services:
  redis:
    image: redis

  db:
    image: postgres:9.4

  vote:
    image: docker/example-voting-app-vote
    #We can also give a direction here to build the image using
    #build: ./<name-of-directory>
    #It will first build the image and then it will utilize the tmp name to build those images
    port:
      - 5000:80

  result:
    image: docker/example-voting-app-result
       - 5001:80

  worker:
    image: docker/example-voting-app-worker

#docker run -d --name=redis redis
#docker run -d --name=db postgres
#docker run -d --name=vote -p 5000:80 docker/example-voting-app-vote
#docker run -d --name=result -p 5001:80 docker/example-voting-app-result
#docker run -d --name=worker docker/example-voting-app-worker
#
#This is version 1 of the docker, where docker will connect to the default bridge network and then connect to the links
#
#
#Link to github repo
# https://github.com/dockersamples/example-voting-app
